/* RESET */
body {
  margin: 0;
}

h1, h2 {
  margin: 0;
}

p {
  margin: 0;
}

/* BODY */
.body {
  box-sizing: border-box;
  font-family: "Arial";
}

/* HEADER */
.header {
  padding: 24px 0;
  background-color: #800080;
}
.header .heading-1 {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

/* MAIN */
.main {
  padding: 8px;
  display: flex;
  gap: 14px;
}
.main .article {
  padding: 18px 8px;
  background-color: #00ffff;
}
.main .article .heading-2 {
  margin-bottom: 18px;
  font-size: 18px;
}
.main .article .paragraph {
  font-size: 12px;
  font-weight: 600;
}
.main .article .paragraph:not(:last-child) {
  margin-bottom: 12px;
}