/* TOP MESSAGE */
.top-msg {
	padding: .8rem 2rem;
	background-color: rgba( 93, 39, 67, .3 );

	&__link {
		margin-right: 1.2rem;
		color: var( --color-white );

		&:hover { color: var( --color-primary-60 ); }
	}

	&__bold { font-weight: bolder; }
}

/* TEXT STUFF */
.heading {
	text-align: left;
	color: var( --color-white );

	&--1 {
		font-size: 11rem;
		font-weight: 600;
		line-height: 10rem;
		letter-spacing: -.1rem;
	}

	&--2 {
		margin-bottom: 2.4rem;
		font-size: 5.2rem;
		font-weight: 700;
		line-height: 128%;
	}

	&--3 {
		margin-bottom: 1.6rem;
		font-size: 4.2rem;
		font-weight: 600;
		line-height: 125%;
	}

	&--4 {
		margin-bottom: 1.6rem;
		font-family: var( --font-monospace );
		font-size: 1.8rem;
		font-weight: 900;
		line-height: 120%;
		letter-spacing: .13em;
		text-transform: uppercase;
	}

	&--5 {
		margin-bottom: 2rem;
		font-size: 2.1rem;
		font-weight: 700;
		line-height: 125%;
	}

	&__gradient {
		-webkit-text-fill-color: transparent;
		background-color: red;
		background-image: var( --gradient-2 );
		background-size: 100%;
		background-repeat: repeat;
		-webkit-background-clip: text;
	}
}

.paragraph {
	margin-bottom: 2.4rem;
	font-weight: 500;
	letter-spacing: 0.02rem;
	color: var( --color-white );
}

.list {
	padding-left: 2.6rem;

	&__item {
		line-height: 172%;

		&:not( :last-child ) { margin-bottom: 1rem; }
	}
}

.link {
	color: var( --color-secondary-red );

	&:hover { color: var( --color-secondary-pink ); }
}

.video {
	width: 100%;
	margin-bottom: 4rem;
	aspect-ratio: 16 / 9;
}

/* BUTTON */
.my-btn {
	padding: 0;
	margin: 0;
	outline: 0;
	display: block;
	font-family: "Work Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
	text-align: center;
	color: var( --color-white );
	background-color: var( --color-primary );
	transition: color 200ms ease-in-out 0s, background-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;

	&:hover { background-color: var( --color-primary-80 ); }
	
	&--empty {
		border: 1px solid hsla( 0, 0%, 98%, .4 );
		background-color: transparent;
		transition: color 200ms ease-in-out 0s, background-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;

		&:hover {
			border-color: var( --color-primary );
			background-color: var( --color-primary );
		}
	}
}

/* SEARCH */
.search {
	max-width: 140.0rem;
	margin: 0 auto;
	padding: 1.2rem 3rem;
	position: sticky;
	z-index: 10;
	top: 6.5rem;
	background: rgba( 5, 5, 5, .8 );

	&__link {
		width: 100%;
		max-width: 4.4rem;
		height: 4.4rem;
		margin-right: auto;
		border-radius: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var( --color-gray-500 );
		transition: background-color 150ms ease-in-out 0s;
	}

	&__link:hover &__icon { &--house { opacity: 1; } }

	&__bar {
		width: 30%;
		height: 4.4rem;
		margin-right: 1rem;
		padding: 0 1.2rem;
		border-radius: 1.2rem;
		border: 1px solid var( --color-gray-300 );
		display: flex;
		align-items: center;
		cursor: text;
		color: var( --color-white );
		background-color: var( --color-gray-500 );
	}

	&__input {
		width: 100%;
		height: 100%;
		padding: 0;
		border: none;
		outline: none;
		display: block;
		text-overflow: ellipsis;
		background-color: transparent;
		color: var( --color-white );

		&::placeholder { color: var( --color-gray-100 ); }
	}

	&__btn {
		height: 4.4rem;
		padding: 0 1.6rem;
		border: 1px solid var( --color-gray );
		border-radius: 1rem;
		display: flex;
		align-items: center;
		gap: 1rem;
		cursor: pointer;
		font-size: 1.6rem;
		font-weight: 600;
		color: var( --color-gray-100 );
		transition: background-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
		background-color: var( --color-black );

		&:hover {
			border-color: transparent;
			background-color: var( --color-gray-100 );
			color: var( --color-gray-dark );
		}
	}

	&__btn:hover &__icon {
		&--categories { content: url( '../svg/icons/categories-2.svg' ); }
		&--expand { content: url( '../svg/icons/expand-2.svg' ); }
	}

	&__icon {
		display: block;

		&--house {
			width: 2.1rem;
			height: 2.1rem;
			opacity: .8;
			transition: opacity 150ms ease-in-out 0s;
		}

		&--categories {
			width: 2.1rem;
			height: 2.1rem;
		}

		&--search {
			width: 2rem;
			height: 2rem;
			margin-right: 1.2rem;
		}

		&--expand {
			width: 1.4rem;
			height: 1.4rem;
		}
	}
}

/* CARDS */
.cards {
	max-width: 140.0rem;
	margin: 0 auto;
	padding: 0 2rem;

	&__heading {
		margin-bottom: 8rem;
		position: relative;
		font-size: 4.8rem;
		font-weight: 600;
		text-align: center;
		color: #ffffff;

		&::after {
			content: '';
			transform-origin: center center;
			background-image: linear-gradient(to right top,#6c22bd,#8b25bb,#a52bb9,#bc34b7,#d040b5,#e645a5,#f55195,#ff6188,#ff796e,#ff965b,#f5b255,#e1cd60);
			position: absolute;
			left: 50%;
			border-radius: 20px;
			transform: skewY(-15deg) translate(-50%,-50%) scale(.7) translateZ(0);
			pointer-events: none;
			width: 900px;
			height: 500px;
			filter: blur(100px);
			opacity: .4;
			top: 0;
			transition: filter .25s ease-in-out,opacity .25s ease-in-out;
		}
	}

	&__list { position: relative; }

	&__glare {
		width: 100%;
		position: absolute;
		top: 5%;
		bottom: -10%;
		margin: 0px auto;
		z-index: -1;

		&::after {
			content: '';
			display: block;
			width: 700px;
			height: 700px;
			transition: opacity 0.6s ease-in-out 0s, transform 0.6s ease-in-out 0s;
			position: sticky;
			top: 50%;
			left: 25%;
			background: radial-gradient( 101.38% 205.08% at 23.35% 13.53%, #f64942 0%, #ef90a4 27.6%, #5b95bf 60.94% );
			opacity: 0.67;
			filter: blur(155px);
			will-change: transform;
			border-radius: 275px;
		}
	}

	&__col { padding: .8rem !important; }

	&__card {
		height: 100%;
		padding: 3rem;
		border-radius: 2rem;
		backdrop-filter: blur( 3px );
		background: rgba( 16, 17, 19, .7 );
		box-shadow: rgba( 255, 255, 255, .1 ) 0 1px 3px inset, rgba( 255, 255, 255, 0 ) 0 -1px 3px inset;
	}

	&__img {
		max-width: 100%;
		margin-bottom: 2.4rem;
		border-radius: 1rem;
		display: block;
	}

	&__name {
		margin-bottom: 1.2rem;
		font-size: 2.4rem;
		font-weight: 600;
		color: #ffffff;
	}

	&__text { color: #9098a2; }
}

/* CARDS #2 */
.cards-2 {
	max-width: 140.0rem;
	padding: 0 3rem;
	margin: 0 auto;

	&__header { margin-bottom: 5.6rem; }

	&__heading { text-align: center; }

	&__text {
		font-size: 2rem;
		line-height: 150%;
		text-align: center;
		color: var( --color-gray );
	}

	&__list {}

	&__col { padding: 1.6rem; }

	&__card {}

	&__figure {
		margin-bottom: 2.4rem;
		border-radius: 1.6rem;
		overflow: hidden;
		position: relative;
		height: 26.2rem;
	}

	&__img {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		z-index: -1;
		object-fit: cover;
	}

	&__figure:hover &__overlay { opacity: 1; }

	&__overlay {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		opacity: 0;
		background-color: rgba( 0, 0, 0, .7 );
		transition: opacity 200ms ease-in-out 0s;
	}

	&__btn {
		width: 100%;
		max-width: 18.0rem;
		border-radius: .8rem;
		padding: 1.4rem 3.2rem;
	}

	&__link {
		font-size: 2.2rem;
		font-weight: 600;
		color: var( --color-white );
		transition: font-size 200ms ease-in-out 0s;
	}
}

/* CARDS COLOR */
.cards-color {
	max-width: 140.0rem;
	margin: 0 auto;

	&__heading {
		margin-bottom: 6.4rem;
		text-align: center;
	}

	&__list {}

	&__col { padding: 2rem; }

	&__card {
		padding: 3.2rem;
		border-radius: 1.6rem;
		display: block;

		&:hover {
			backdrop-filter: blur( 120px );
			box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 3px inset, rgb(0, 0, 0) 0px -1px 3px inset;
			background-image: linear-gradient(120deg, rgba(246, 73, 66, 0.05), rgba(250, 219, 95, 0.05), rgba(0, 148, 255, 0.05));
		}
	}

	&__line {
		height: .4rem;
		margin-bottom: 3.8rem;
		border-radius: 3.2rem;

		&--blue-1 { background-color: rgb(66, 106, 136); }
		&--blue-2 { background-color: rgb(91, 149, 191); }
		&--blue-3 { background-color: rgb(78, 255, 239); }
		&--blue-4 { background-color: rgb(83, 216, 251); }

		&--green-1 { background-color: rgb(2, 138, 159); }
		&--green-2 { background-color: rgb(0, 166, 118); }
		&--green-3 { background-color: rgb(151, 216, 196); }
		&--green-4 { background-color: rgb(199, 242, 167); }

		&--pink-1 { background-color: rgb(255, 45, 96); }
		&--pink-2 { background-color: rgb(170, 67, 120); }
		&--pink-3 { background-color: rgb(239, 144, 164); }
		&--pink-4 { background-color: rgb(171, 86, 129); }
		&--pink-5 { background-color: rgb(114, 25, 90); }
		&--pink-6 { background-color: rgb(169, 104, 119); }
		&--pink-7 { background-color: rgb(237, 33, 124); }

		&--yellow-1 { background-color: rgb(250, 219, 95); }
		&--yellow-2 { background-color: rgb(237, 174, 73); }
		&--yellow-2 { background-color: rgb(237, 174, 73); }
		&--yellow-3 { background-color: rgb(174, 126, 75); }

		&--orange-1 { background-color: rgb(174, 53, 48); }
		&--orange-2 { background-color: rgb(186, 63, 29); }
		&--orange-3 { background-color: rgb(255, 155, 113); }
		&--orange-4 { background-color: rgb(255, 136, 17); }

		&--purple-1 { background-color: rgb(120, 121, 241); }
		&--purple-2 { background-color: rgb(165, 166, 246); }
		&--purple-3 { background-color: rgb(199, 184, 234); }

		&--gray-1 { background-color: rgb(193, 207, 218); }
		&--gray-2 { background-color: rgb(174, 180, 169); }
		
	}

	&__name { text-align: left; }

	&__wrapper {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}

	&__text {
		font-size: 1.8rem;
		line-height: 172%;
		color: var( --color-gray );
	}
}

/* PLATFORMS */
.platforms {
	max-width: 120.0rem;
	margin: 0 auto;
	border-radius: 2.4rem;
	background-color: rgba( 23, 25, 28, .6 );

	&--small {}

	&--small &__item { max-width: 6.4rem; }

	&--small &__box {
		width: 6.4rem;
		height: 6.4rem;
	}

	&--small &__icon {
		width: 3rem;
		height: 3rem;
	}

	&--theme-1 {
		backdrop-filter: blur( 24px );
		background: hsla( 0, 0%, 100%, .04 );
		background-image: radial-gradient( circle at top left,rgba( 246, 105, 66, .05 ) 10%, transparent 40% ), radial-gradient( circle at bottom right, rgba( 250, 219, 95, .05 ) 10%, transparent 50% );
		background-size: 150% 150%;
		// animation: gradient 10s linear infinite;
		box-shadow: inset 0 1px 3px hsla( 0, 0%, 100%, .15 ), inset 0 -1px 3px #000;
	}

	&__header { margin-bottom: 4rem; }

	&__heading {
		margin-bottom: 0;
		color: var( --color-white );
	}

	&__text {
		font-size: 1.8rem;
		text-align: center;
		color: var( --color-white );
	}

	&__menu {}

	&__item {
		max-width: 8rem;
		margin: 1.6rem 2rem;
		padding: 0 !important; // Remove Bootstrap's default padding
	}

	&__link {
		display: block;

		&--heading { margin-bottom: 3.5rem; }
	}

	&__box {
		width: 8rem;
		height: 8rem;
		margin-bottom: 1.2rem;
		border-radius: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		backdrop-filter: blur( 24px );
		box-shadow: inset 0 0 2px hsla( 0,0%,100%,.2 ),inset 0 -1px 3px rgba( 0, 0, 0, .8 );
		background-image: radial-gradient( circle at bottom,rgba( 91, 149, 191, .4 ) 0,hsla( 0, 0%, 9%, .8 ) 30%,rgba( 30, 30, 30, .8 ) 100% );

		&:hover::after { opacity: 1; }

		&::after {
			border-radius: 2rem;
			content: "";
			position: absolute;
			z-index: -1;
			inset: 0;
			backdrop-filter: blur( 24px );
			opacity: 0;
			background-image: radial-gradient( circle at bottom,rgba( 210, 18, 11, .5 ) 0,hsla( 0, 0%, 9%, .8 ) 30%,rgba( 40, 40, 40,.8 ) 100% );
			box-shadow: inset 0 0 2px hsla( 0, 0%, 100%,.2 ),inset 0 -1px 3px rgba( 0, 0, 0, .8 );
			transition: opacity .1s linear;
		}
	}

	&__box:hover &__icon {
		background-image: url( '../svg/logos/android-2.svg' );

		&--android { background-image: url( '../svg/logos/android-2.svg' ); }
		&--ios { background-image: url( '../svg/logos/ios-2.svg' ); }
		&--mac { background-image: url( '../svg/logos/mac.svg' ); }
		&--windows { background-image: url( '../svg/logos/windows-2.svg' ); }
		&--microsoft { background-image: url( '../svg/logos/microsoft-store-2.svg' ); }
		&--linux { background-image: url( '../svg/logos/linux-2.svg' ); }
		&--chrome { background-image: url( '../svg/logos/chrome-2.svg' ); }
		&--firefox { background-image: url( '../svg/logos/firefox-2.svg' ); }
		&--edge { background-image: url( '../svg/logos/edge-2.svg' ); }
		&--snap { background-image: url( '../svg/logos/snap-store-2.svg' ); }
	}

	&__icon {
		width: 3.6rem;
		height: 3.6rem;
		background-image: url( '../svg/logos/android-1.svg' );
		background-repeat: no-repeat;
		background-position: center;

		&--android { background-image: url( '../svg/logos/android-1.svg' ); }
		&--ios { background-image: url( '../svg/logos/ios-1.svg' ); }
		&--mac { background-image: url( '../svg/logos/mac.svg' ); }
		&--windows { background-image: url( '../svg/logos/windows-1.svg' ); }
		&--microsoft { background-image: url( '../svg/logos/microsoft-store-1.svg' ); }
		&--linux { background-image: url( '../svg/logos/linux-1.svg' ); }
		&--chrome { background-image: url( '../svg/logos/chrome-1.svg' ); }
		&--firefox { background-image: url( '../svg/logos/firefox-1.svg' ); }
		&--edge { background-image: url( '../svg/logos/edge-1.svg' ); }
		&--snap { background-image: url( '../svg/logos/snap-store-1.svg' ); }
	}

	&__name {
		display: block;
		font-size: 1.4rem;
		text-align: center;
		line-height: 1.6rem;
		color: var( --color-gray );
	}
}

/* DEVICES */
.devices {
	height: 30.9rem; // Taskade's default height
	position: relative;

	&__background {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}

	&__img {
		position: absolute;

		&--1 {
			top: -15%;
			right: -5%;
		}

		&--2 {
			top: 80.3%;
			left: -5%;
		}
	}
}

/* PLANS */
.plans {
	&__heading { text-align: center; }

	&__tabs {
		border-bottom: 1px solid var( --color-gray-300 );
		margin-bottom: 4rem;
	}

	&__tab {
		padding: 1.2rem 2.4rem;
		border-width: 1px 1px 0px;
		border-style: solid solid none;
		border-color: var( --color-gray-300 ) var( --color-gray-300 ) currentcolor;
		border-image: none 100% / 1 / 0 stretch;
		border-radius: 1rem 1rem 0 0;
		display: block;
		font-weight: 500;
		color: var( --color-gray );
		background-color: var( --color-black );

		&:not( :last-child ) { margin-right: 2rem; }
		&:hover { color: var( --color-white ); }
		&--active { color: var( --color-white ); }
	}

	&__wrapper {
		max-width: 140.0rem;
		margin: 0 auto;
		padding: 0 3rem;
	}

	&__tiers {
		margin: 0; // Remove Bootstrap's default margin on rows
		padding: 2rem 4rem;
		position: sticky;
		z-index: 2;
		top: 6.4rem;
		background-color: rgba( 5, 5, 5, .9 );
	}

	&__tier { padding: 0; } // Remove Bootstrap's default padding on columns

	&__level {
		margin-bottom: 2rem;
		display: block;
		font-size: 2.4rem;
		text-align: center;
		color: var( --color-white );
	}

	&__link {
		width: 100%;
		max-width: 75%;
		padding: .96rem 0;
		border-radius: .8rem;
		text-align: center;
	}

	&__list {
		margin: 0; // Remove Bootstrap's default margin on rows

		&:not( :last-child ) { margin-bottom: 5rem; }
	}

	&__item {
		padding: 1.2rem 4rem;
		margin: 0; // Remove Bootstrap's default margin on rows
		border-bottom: 1px solid var( --color-gray-300 );

		&:hover:not( :first-child ) { background-color: rgb( 16, 20, 24 ); }
	}

	&__col { padding: 0; } // Remove Bootstrap's default padding on columns

	&__title {
		font-size: 2.2rem;
		font-weight: 500;
		color: var( --color-white );
	}

	&__name {
		cursor: pointer;
		font-weight: 500;
		text-decoration: underline dashed var( --color-gray );
		text-underline-offset: .4rem;
		color: var( --color-gray );
	}

	&__text {
		display: block;
		text-align: center;
	}

	&__icon {
		&::after {
			width: 2rem;
			height: 2rem;
			margin: 0 auto;
			content: '';
			display: block;
			background-size: 2rem;
			background-position: center;
			background-repeat: no-repeat;
		}

		&--yes { &::after { background-image: url( '../img/icons/included.png' ); } }
		&--no { &::after { background-image: url( '../img/icons/excluded.png' ); } }
	}
}

/* FAQ */
.faq {
	max-width: 110.0rem;
	margin: 0 auto;
	padding: 0 3rem;

	&__header { margin-bottom: 4rem; }

	&__heading { text-align: center; }

	&__text {
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 1.42;
		letter-spacing: -.008rem;
		text-align: center;
		color: var( --color-gray );
	}

	&__link {
		text-decoration: underline;
		color: var( --color-white );
	}

	&__row { margin-bottom: 4rem; }

	&__col {
		padding: 0;// Remove Bootstrap's default padding

		&:not( :last-child ) { padding-right: 4rem; }
		
	}

	&__list {}

	&__item {
		margin-bottom: 10px;
		padding: 2.4rem 6rem 2.6rem 0;
		border-bottom: .2rem solid var( --color-gray-300 );
		position: relative;
		cursor: pointer;

		&:hover::after { opacity: 1; }

		&::after {
			height: 2rem;
			width: 2rem;
			content: '';
			position: absolute;
			z-index: 2;
			right: 0;
			top: 40%;
			opacity: .4;
			background-image: url( '../svg/icons/plus.svg' );
			background-repeat: no-repeat;
			transition: opacity 400ms cubic-bezier( .38, .29, .33, 1) 0s;
		}
	}

	&__question {
		font-weight: 600;
		line-height: 172%;
		color: var( --color-white );
	}

	&__btn {
		border-radius: .8rem;
		margin: 0 auto;
		padding: .96rem 2.4rem;
	}
}

/* COMPANIES */
.companies {
	&__heading {
		margin-bottom: 4rem;
		font-family: "IBM Plex Mono", "Liberation Mono", "Courier New", monospace;
		font-weight: 500;
		letter-spacing: .13em;
		text-transform: uppercase;
		text-align: center;
	}

	&__list { margin: 0; } // Remove Bootstrap's default margin on rows

	&__company {
		width: 20.0rem;
		height: 12.0rem;
		padding: 0 !important; // Remove Bootstrap's default padding
		border: 1px solid rgb( 44, 48, 53 );
		background: rgb( 5, 5, 5 );

		background-repeat: no-repeat;
		background-position: center;

		&--lyft { background-image: url( '../svg/logos/lyft.svg' ); }
		&--trasnfer { background-image: url( '../svg/logos/transfer-wise.svg' ); }
		&--compass { background-image: url( '../svg/logos/compass.svg' ); }
		&--netflix { background-image: url( '../svg/logos/netflix.svg' ); }
		&--booking { background-image: url( '../svg/logos/booking-com.svg' ); }
		&--sony { background-image: url( '../svg/logos/sony.svg' ); }
	}
}

/* CONTACT */
.contact {
	border-top: 1px solid rgb( 44, 48, 53 );
	border-bottom: 1px solid rgb( 44, 48, 53 );

	&__wrapper {
		max-width: 140.0rem;
		margin: 0 auto;
		padding: 21rem 3%;
		text-align: center;
	}

	&__heading {
		margin-bottom: 3rem;
		text-align: center;
	}

	&__text {
		margin-bottom: 5rem;
		font-size: 2rem;
		line-height: 1.5;
		color: rgb( 197, 197, 197 );
	}

	&__bar {
		min-width: 37.2rem;
		padding: 1rem 1.2rem 1rem 2.4rem;
		border-radius: 4.8rem;
		background-color: #17191c;
		color: #fafafa;
	}

	&__icon {
		width: 2rem;
		display: block;
	}

	&__input {
		width: 18.0rem;
		padding-left: 1.2rem;
		border: 0;
		outline: 0;
		background-color: transparent;
		box-shadow: 0 6px 10px 0 rgba( 0, 0, 0, .1 );
		color: #ffffff;

		&::placeholder {
			font-size: 1.6rem;
			color: var( --color-gray--100 );
		}
	}

	&__btn {
		&--1 {
			padding: .96rem 2rem;
			border-radius: 2.5rem;
		}
		
		&--2 {
			padding: 1.8rem 2.4rem;
			border-radius: .8rem;
		}
	}
}

/*************************************************************************************************************************************************************************/

@media only screen and ( max-device-width: 1199px ) {
	.cards-2 { &__link { font-size: 1.8rem; } }
}
@media only screen and ( max-device-width: 991px ) {
	.heading {
		&--2 { font-size: 4.2rem; }
		&--3 { font-size: 3.8rem; }
	}

	.search {
		top: 5.5rem;

		&__bar { width: 100%; }
		&__link { margin-right: 1rem; }
	}

	.platforms {
		&__item { max-width: 6.4rem; }

		&__box {
			width: 6.4rem;
			height: 6.4rem;
		}

		&__icon {
			width: 3rem;
			height: 3rem;
		}
	}

	.cards-color {
		&__card {
			backdrop-filter: blur( 120px );
			background-color: var( --color-gray-600 );
			box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 3px inset, rgb(0, 0, 0) 0px -1px 3px inset;
		}
	}

	.plans {
		&__tiers {
			border-bottom: 1px solid var( --color-gray-300 );
			position: static;
			z-index: auto;
			top: auto;
		}

		&__level {
			margin-bottom: 0;
			font-size: 2rem;
		}
	}

	.faq { &__col { padding: 0 4rem; } }
}