/* PLANS */
.plans {
	&__heading {}

	&__tabs {
		border-bottom: 1px solid var( --color-gray-300 );
		margin-bottom: 4rem;
	}

	&__tab {
		padding: 1.2rem 2.4rem;
		border-width: 1px 1px 0px;
		border-style: solid solid none;
		border-color: var( --color-gray-300 ) var( --color-gray-300 ) currentcolor;
		border-image: none 100% / 1 / 0 stretch;
		border-radius: 1rem 1rem 0 0;
		display: block;
		font-weight: 500;
		color: var( --color-gray );
		background-color: var( --color-black );

		&:not( :last-child ) { margin-right: 2rem; }
		&:hover { color: var( --color-white ); }
		&--active { color: var( --color-white ); }
	}

	&__wrapper {
		max-width: 140.0rem;
		margin: 0 auto;
		padding: 0 3rem;
	}

	&__tiers {
		margin: 0; // Remove Bootstrap's default margin on rows
		padding: 2rem 4rem;
		position: sticky;
		z-index: 2;
		top: 6.4rem;
		background-color: rgba( 5, 5, 5, .9 );
	}

	&__tier { padding: 0; } // Remove Bootstrap's default padding on columns

	&__level {
		margin-bottom: 2rem;
		display: block;
		font-size: 2.4rem;
		text-align: center;
		color: var( --color-white );
	}

	&__link {
		width: 100%;
		max-width: 75%;
		padding: .96rem 0;
		border-radius: .8rem;
		text-align: center;
	}

	&__list {
		margin: 0; // Remove Bootstrap's default margin on rows

		&:not( :last-child ) { margin-bottom: 5rem; }
	}

	&__item {
		padding: 1.2rem 4rem;
		margin: 0; // Remove Bootstrap's default margin on rows
		border-bottom: 1px solid var( --color-gray-300 );

		&:hover:not( :first-child ) { background-color: rgb( 16, 20, 24 ); }
	}

	&__col { padding: 0; } // Remove Bootstrap's default padding on columns

	&__title {
		font-size: 2.2rem;
		font-weight: 500;
		color: var( --color-white );
	}

	&__name {
		cursor: pointer;
		font-weight: 500;
		text-decoration: underline dashed var( --color-gray );
		text-underline-offset: .4rem;
		color: var( --color-gray );
	}

	&__text {
		display: block;
		text-align: center;
	}

	&__icon {
		&::after {
			width: 2rem;
			height: 2rem;
			margin: 0 auto;
			content: '';
			display: block;
			background-size: 2rem;
			background-position: center;
			background-repeat: no-repeat;
		}

		&--yes { &::after { background-image: url( '../img/icons/included.png' ); } }
		&--no { &::after { background-image: url( '../img/icons/excluded.png' ); } }
	}
}

/*************************************************************************************************************************************************************************/

@media only screen and ( max-device-width: 991px ) {
	.plans {
		&__tiers {
			border-bottom: 1px solid var( --color-gray-300 );
			position: static;
			z-index: auto;
			top: auto;
		}

		&__level {
			margin-bottom: 0;
			font-size: 2rem;
		}
	}
}