/* FEATURES */
.features {
	margin-bottom: 4rem;

	&__heading {
		max-width: 110.0rem;
		margin: 4rem auto;
		position: relative;

		&:hover::after {
			filter: blur( 140px );
			opacity: .6;
		}

		&::after {
			width: 90.0rem;
			height: 50.0rem;
			border-radius: 2rem;
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform-origin: center center;
			transform: skewY( -15deg ) translate( -50%,-50% ) scale( .7 ) translateZ( 0 );
			filter: blur( 100px) ;
			pointer-events: none;
			opacity: .4;
			background-image: var( --gradient-1 );
			transition: filter .25s ease-in-out, opacity .25s ease-in-out;
		}
	}

	&__buttons { margin-bottom: 4rem; }

	&__btn {
		min-width: 16.0rem;
		padding: .8rem 1.6rem;
		border-radius: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		cursor: pointer;
		transition: background-color 250ms ease-in-out 0s;

		&:not( :last-child ) { margin-right: .8rem; }
		&:hover { background: rgba( 255, 255, 255, .08 ); }

		&--active {
			background: rgba( 255, 255, 255, .08 );
			box-shadow: rgba( 255, 255, 255, .1 ) 0 1px inset;
		}
	}

	&__btn:hover &__icon { opacity: 1; }
	&__btn--active &__icon { opacity: 1; }
	
	&__icon {
		height: 2rem;
		display: block;
		opacity: .5;
		transition: opacity 150ms ease-in-out 0s;
	}

	&__btn:hover &__text { color: var( --color-white ); }
	&__btn--active &__text { color: var( --color-white ); }

	&__text {
		white-space: nowrap;
		color: rgb( 204, 204, 204 );
	}

	&__slides {
		width: 100%;
		position: relative;

		&::after {
			width: 70%;
			height: 50%;
			border-radius: 27.5rem;
			content: '';
			display: flex;
			position: absolute;
			z-index: -2;
			top: 40%;
			left: 14%;
			mix-blend-mode: lighten;
			opacity: 0.67;
			filter: blur( 185px );
			will-change: transform;
			background-image: var( --gradient-radial-1 );
		}
	
	}

	&__slide {
		width: 100%;
		max-width: 120.0rem;
		margin: 0 auto;
		display: block;
	}

	&__slides:hover &__link { opacity: 1; }

	&__link {
		padding: 1rem 1.5rem;
		border-radius: 3.3rem;
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		opacity: 0;
		font-weight: 600;
		white-space: nowrap;
		color: rgb( 0, 0, 0 );
		background-color: var( --color-white );
		transition: opacity 200ms ease-in-out 0s;

		&:hover { color: rgb( 0, 0, 0, .7 ); }
	}
}

/* LANDING CARDS */
.landing-cards {
	&__header {
		margin-bottom: 24.0rem;
		position: relative;
		text-align: center;

		&:hover::after {
			filter: blur( 140px );
			opacity: .6;
		}

		&::after {
			width: 90.0rem;
			height: 50.0rem;
			border-radius: 2rem;
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			opacity: .4;
			filter: blur( 100px );
			pointer-events: none;
			transform-origin: center center;
			transform: skewY( -15deg ) translate( -50%,-50% ) scale( .7 ) translateZ( 0 );
			background-image: linear-gradient( to right top, #6c22bd, #8b25bb, #a52bb9, #bc34b7, #d040b5, #e645a5, #f55195, #ff6188, #ff796e, #ff965b, #f5b255, #e1cd60 );
			transition: filter .25s ease-in-out, opacity .25s ease-in-out;
		}
	}

	&__heading {
		color: #ffffff;

		&--2 {
			max-width: 142.0rem;
			margin: 0 auto 1.6rem auto;
			padding: 0 2rem;
			font-size: 10rem;
			font-weight: 600;
			letter-spacing: -.1rem;
		}

		&--3 {
			margin-bottom: 1.6rem;
			font-size: 4.2rem;
			font-weight: 600;
			letter-spacing: -.01rem;
			color: #ffffff;
		}

		&--4 {
			margin-bottom: .8rem;
			font-size: 1.4rem;
			font-weight: 500;
			text-transform: uppercase;
			color: rgb( 144, 152, 162 );
		}
	}

	&__text {
		max-width: 74rem;
		margin: 0 auto;
		padding: 0 2rem;
		font-size: 2.4rem;
		line-height: 3rem;
		letter-spacing: -.05rem;
		color: #9098a2;
	}

	&__list {}

	&__item { &:not( :last-child ) { margin-bottom: 24.0rem; }  }

	&__item:hover &__figure::after {
		filter: blur( 140px );
		opacity: .9;
	}

	&__figure {
		padding: 0 2rem !important;
		position: relative;

		&::after {
			width: 50.0rem;
			height: 50.0rem;
			border-radius: 2rem;
			content: '';
			position: absolute;
			z-index: -1;
			top: 40%;
			left: 50%;
			filter: blur( 100px );
			pointer-events: none;
			transform-origin: center;
			transform: skewY( -15deg ) translate( -50%,-50% ) scale( 1 ) translateZ( 0 );
			opacity: .7;
			background-image: linear-gradient( to right top, #6c22bd, #8b25bb, #a52bb9, #bc34b7, #d040b5, #e645a5, #f55195, #ff6188, #ff796e, #ff965b, #f5b255, #e1cd60 );
			transition: filter .25s ease-in-out, opacity .25s ease-in-out;
		}
	}

	&__info {
		padding: 0 !important; // Remove Bootstrap's defualt padding for columns

		&--left { padding-left: 8rem !important; }
		&--right { padding-right: 8rem !important; }
	}

	&__img {
		width: 100%;
		display: block;
	}

	&__description {
		margin-bottom: 2.4rem;
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 1.42;
		letter-spacing: -.008rem;
		color: #9098a2;
	}

	&__menu { margin-bottom: 4rem; }

	&__btn {
		margin: 0;
		padding: 1rem 1.8rem;
		border: none;
		border-radius: 1rem;
		outline: 0;
		display: flex;
		cursor: pointer;
		background: rgba( 255, 255, 255, 0 );
		transition: background-color 250ms ease-in-out 0s;

		&:not( :last-child ) { margin-right: 1rem; }
		&:hover { background: rgba( 255, 255, 255, .08 ); }

		&--active { background: rgba( 255, 255, 255, .08 ); }
	}

	&__btn:hover &__icon { opacity: 1; }
	&__btn--active &__icon { opacity: 1; }

	&__icon {
		height: 1.8rem;
		display: block;
		opacity: .5;
		transition: opacity 150ms ease-in-out 0s;
	}

	&__replaces {}

	&__tool {
		max-height: 3.6rem;
		filter: grayscale( 100% );
		opacity: .5;

		&:not( :last-child ) { margin-right: 2rem; }
	}
}

/* REVIEWS */
.reviews {
	&__header {
		max-width: 140.0rem;
		margin: 0 auto 6.4rem auto;
	}

	&__heading {
		max-width: 60.0rem;
		font-size: 4.8rem;
		font-weight: 600;
		letter-spacing: -.01rem;
		color: #fff;
	}

	&__link { padding: .96rem 2.4rem; }

	&__comments {
		max-width: 140.0rem;
		margin: 0 auto 4rem auto;
	}

	&__item {
		padding: 4rem 0 4rem 3.2rem;
		border-radius: 2.4rem;
		background: #101113;
		box-shadow: rgba( 255, 255, 255, 0.15 ) 0 1px 3px inset, rgb( 0, 0, 0 ) 0 -1px 3px inset;

		&:not( :last-child ) { margin-right: 2rem; }
	}

	&__text {
		width: 90%;
		margin-bottom: 3rem;
		font-size: 1em;
		color: #ffffff;
	}

	&__user {}

	&__profile {
		height: 4rem;
		margin-right: 1.6rem;
	}

	&__name {}

	&__buttons {}

	&__btn {
		padding: 0;
		border: none;
		outline: none;
		display: block;
		background-color: transparent;

		&:not( :last-child ) { margin-right: .5rem; }
	}

	&__btn:hover &__icon { content: url( '../img/icons/dot-active.svg' ); }
	&__btn--active &__icon { content: url( '../img/icons/dot-active.svg' ); }

	&__icon {
		display: block;
	}
}

/*************************************************************************************************************************************************************************/

@media only screen and ( max-device-width: 1099px ) {
	.devices {
		max-width: 70.0rem; // Taskade's default width for responsive
		height: 60.0rem; // Taskade's default height for responsive

		&__menu { max-width: 40.0rem; }
	}
}
@media only screen and ( max-device-width: 991px ) {
	.main {
		&__heading {
			margin-top: 0;
			font-size: 4.8rem;
			line-height: 5rem;
		}
	}

	.features { &__btn { min-width: 7.8rem; } }

	.landing-cards {
		&__heading { &--2 { font-size: 4.8rem; } }

		&__text {
			max-width: 100%;
			font-size: 1.8rem;
			letter-spacing: -.008rem;
		}

		&__info {
			padding: 0 2rem !important;
			margin-bottom: 4rem;
		}

		&__figure { &::after { display: none; } }
	}

	.reviews {
		&__heading {
			margin-bottom: 2rem;
			font-size: 4rem;
			text-align: center;
		}

		&__item {
			margin-right: 0 !important;

			&:not( :last-child ) { margin-bottom: 4rem; }
		}
	}

	.cards { &__glare { display: none; } }
}