.main {
	padding-top: 4rem;
	padding-left: 2rem;
	padding-right: 2rem;

	&__heading {
		max-width: 110.0rem;
		margin: 4rem auto;
		position: relative;
		font-size: 11rem;
		font-weight: 600;
		line-height: 10rem;
		letter-spacing: -.1rem;
		text-align: center;

		&:hover::after {
			filter: blur( 140px );
			opacity: .6;
		}

		&::after {
			width: 90.0rem;
			height: 50.0rem;
			border-radius: 2rem;
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform-origin: center center;
			transform: skewY( -15deg ) translate( -50%,-50% ) scale( .7 ) translateZ( 0 );
			filter: blur( 100px) ;
			pointer-events: none;
			opacity: .4;
			background-image: linear-gradient(to right top,#6c22bd,#8b25bb,#a52bb9,#bc34b7,#d040b5,#e645a5,#f55195,#ff6188,#ff796e,#ff965b,#f5b255,#e1cd60);
			transition: filter .25s ease-in-out, opacity .25s ease-in-out;
		}
	}
}

.features {
	margin-bottom: 4rem;

	&__buttons { margin-bottom: 4rem; }

	&__btn {
		min-width: 16.0rem;
		padding: .8rem 1.6rem;
		border-radius: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		cursor: pointer;
		transition: background-color 250ms ease-in-out 0s;

		&:not( :last-child ) { margin-right: .8rem; }
		&:hover { background: rgba( 255, 255, 255, .08 ); }

		&--active {
			background: rgba( 255, 255, 255, .08 );
			box-shadow: rgba( 255, 255, 255, .1 ) 0 1px inset;
		}
	}

	&__btn:hover &__icon { opacity: 1; }
	&__btn--active &__icon { opacity: 1; }
	
	&__icon {
		height: 2.0rem;
		display: block;
		opacity: .5;
		transition: opacity 150ms ease-in-out 0s;
	}

	&__btn:hover &__text { color: rgb( 255, 255, 255 ); }
	&__btn--active &__text { color: rgb( 255, 255, 255 ); }

	&__text {
		white-space: nowrap;
		color: rgb( 204, 204, 204 );
	}

	&__slides {
		width: 100%;
		position: relative;

		&::after {
			width: 70%;
			height: 50%;
			border-radius: 27.5rem;
			content: '';
			display: flex;
			position: absolute;
			z-index: -2;
			top: 40%;
			left: 14%;
			mix-blend-mode: lighten;
			opacity: 0.67;
			filter: blur( 185px );
			will-change: transform;
			background: radial-gradient( 101.38% 205.08% at 23.35% 13.53%, #f64942 0%, #ef90a4 27.6%, #5b95bf 60.94% );
		}
	
	}

	&__slide {
		width: 100%;
		max-width: 120.0rem;
		margin: 0 auto;
		display: block;
	}

	&__slides:hover &__link { opacity: 1; }

	&__link {
		padding: 1rem 1.5rem;
		border-radius: 3.3rem;
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		opacity: 0;
		font-weight: 600;
		white-space: nowrap;
		color: rgb( 0, 0, 0 );
		background: rgb( 255, 255, 255 );
		transition: opacity 200ms ease-in-out 0s;

		&:hover { color: rgb( 0, 0, 0, .7 ); }
	}
}

.devices {
	max-width: 120.0rem;
	height: 30.9rem; // Taskade's default height
	border-radius: 2.4rem;
	background: rgba( 23, 25, 28, .6 );

	&__heading {
		font-family: "IBM Plex Mono", "Liberation Mono", "Courier New", monospace;
		font-size: 1.8rem;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: .13em;
		color: #ffffff;
	}

	&__menu {}

	&__item {
		padding: 0 !important; // Remove Bootstrap's default padding
		&:not( :last-child ) { margin-right: 2.5rem; }
	}

	&__link {
		display: block;

		&--heading { margin-bottom: 3.5rem; }
	}

	&__box {
		width: 6.4rem;
		height: 6.4rem;
		margin-bottom: 1.2rem;
		border-radius: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		backdrop-filter: blur( 24px );
		box-shadow: inset 0 0 2px hsla( 0,0%,100%,.2 ),inset 0 -1px 3px rgba( 0, 0, 0, .8 );
		background-image: radial-gradient( circle at bottom,rgba( 91, 149, 191, .4 ) 0,hsla( 0, 0%, 9%, .8 ) 30%,rgba( 30, 30, 30, .8 ) 100% );

		&:hover::after { opacity: 1; }

		&::after {
			border-radius: 2rem;
			content: "";
			position: absolute;
			z-index: -1;
			inset: 0;
			backdrop-filter: blur( 24px );
			opacity: 0;
			box-shadow: inset 0 0 2px hsla( 0, 0%, 100%,.2 ),inset 0 -1px 3px rgba( 0, 0, 0, .8 );
			background-image: radial-gradient( circle at bottom,rgba( 210, 18, 11, .5 ) 0,hsla( 0, 0%, 9%, .8 ) 30%,rgba( 40, 40, 40,.8 ) 100% );
			transition: opacity .1s linear;
		}
	}

	&__box:hover &__icon {
		background-image: url( '../svg/android-2.svg' );

		&--android { background-image: url( '../svg/android-2.svg' ); }
		&--ios { background-image: url( '../svg/ios-2.svg' ); }
		&--mac { background-image: url( '../svg/mac.svg' ); }
		&--windows { background-image: url( '../svg/windows-2.svg' ); }
		&--linux { background-image: url( '../svg/linux-2.svg' ); }
		&--chrome { background-image: url( '../svg/chrome-2.svg' ); }
		&--firefox { background-image: url( '../svg/firefox-2.svg' ); }
		&--edge { background-image: url( '../svg/edge-2.svg' ); }
	}

	&__icon {
		width: 3rem;
		height: 3rem;
		background-image: url( '../svg/android-1.svg' );
		background-repeat: no-repeat;
		background-position: center;

		&--android { background-image: url( '../svg/android-1.svg' ); }
		&--ios { background-image: url( '../svg/ios-1.svg' ); }
		&--mac { background-image: url( '../svg/mac.svg' ); }
		&--windows { background-image: url( '../svg/windows-1.svg' ); }
		&--linux { background-image: url( '../svg/linux-1.svg' ); }
		&--chrome { background-image: url( '../svg/chrome-1.svg' ); }
		&--firefox { background-image: url( '../svg/firefox-1.svg' ); }
		&--edge { background-image: url( '../svg/edge-1.svg' ); }
	}

	&__text {
		display: block;
		text-align: center;
		font-size: 1.4rem;
		color: rgb( 144, 152, 162 );
	}
}

@media only screen and ( max-device-width: 1099px ) {
	.devices {
		&__menu { max-width: 40.0rem; }

		&__item { margin: 1.6rem 2rem; }
	}
}
@media only screen and ( max-device-width: 991px ) {
	.main {
		&__heading {
			margin-top: 0;
			font-size: 4.8rem;
			line-height: 5rem;
		}
	}

	.features {
		&__btn { min-width: 7.8rem; }
	}
}