.body {
	background: rgb(5, 5, 5);
}

.header {
	position: sticky;
	z-index: 11;
	top: -1px;
	background: rgb( 0, 0, 0 );

	&__wrapper {
		max-width: 140.0rem;
		margin: 0 auto;
		padding: 1.6rem 3rem;
		transition: padding 200ms ease-in-out 0s;
	}

	&__logo {
		height: 3.5rem;
		margin-right: 4rem;
		display: block;
		transition: transform 250ms ease 0s, opacity 400ms ease 0s;
	
		&:hover { transform: scale( 1.1 ); }
	}
	
	&__icon {
		height: 100%;
		margin-right: .4rem;
	}

	&__text { height: 1.7rem; }

	&__buttons {}

	&__btn-contact {
		position: relative;
		font-size: 1.6rem;
		color: #ffffff;
		transition: opacity 200ms ease-in-out 0s;

		&::before {
			width: 100%;
			margin-bottom: -.4rem;
			content: '';
			position: absolute;
			height: .2rem;
			bottom: 0;
			left: 0;
			transform: scaleX( 0 );
			background-color: rgb( 255, 255, 255 );
			transition: all 0.2s ease-in-out 0s;
		}

		&:hover { opacity: 0.7; }

		&:hover::before { transform: scaleX( 1 ); }
	}

	&__btn-signup-2 {
		padding: .4rem 1.8rem;
		margin-right: 1rem;
		display: none;
	}
}

.footer {
	width: 100%;
	background: rgb( 0, 0, 0 );

	&__row {
		&--top { border-top: 1px solid rgb( 44, 48, 53 ); }
		&--bottom { border-top: .1rem solid rgb( 71, 71, 71 ); }
	}

	&__col {}

	&__wrapper {
		width: 100%;
		max-width: 140.0rem;
		margin: 0 auto;

		&--1 { padding: 4rem 3rem; }
		&--2 {
			padding: 2.5rem 3rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__menu { padding: 0 !important; } // Delete Bootstrap's default padding on columns

	&__item { &:not( :last-child ) { margin-bottom: 1.6rem; } }

	&__link {
		display: block;
		color: #9098a2;
		font-size: 1.4rem;
		transition: opacity 200ms ease-in-out 0s;

		&--heading {
			font-size: 1.5rem;
			text-transform: uppercase;
			letter-spacing: .13em;
			color: #ffffff;
		}
	}

	&__btn {
		margin-bottom: 1.6rem;
		display: block;
		cursor: pointer;
		font-size: 1.4rem;
		color: #ffffff;
		transition: color 200ms ease 0s;

		&:hover { color: rgb( 221, 221, 221 ); }
	}

	&__img {
		width: 100%;
		max-width: 20.0rem;
		border-radius: 1rem;
		display: block;
	}

	&__mobile {
		max-width: 20.0rem;
		display: block;
		line-height: 172%;
		color: #ffffff;
	}

	&__message { display: block; }

	&__legal {
		color: rgb( 153, 153, 153 );
		transition: opacity 200ms ease-in-out 0s;

		&:not( :last-child ) { margin-right: 8px; }
		&:hover { opacity: 0.7; }
	}

	&__social {
		&:not( :first-child ) { margin-left: 1rem; }
		&:not( :last-child ) { margin-right: 1rem; }
	}
	&__social:hover &__icon { opacity: 1; }

	&__icon {
		width: 2.0rem;
		height: 2.0rem;
		display: block;
		opacity: .6;
	}
}

.footer__item:hover > .footer__link { opacity: 0.7; }

@media only screen and ( max-device-width: 1199px ) {
	.header { &__btn-contact { display: none; } }
}
@media only screen and ( max-device-width: 1099px ) {
	.header { &__text { display: none; } }
}
@media only screen and ( max-device-width: 991px ) {
	.header {
		&__wrapper { padding: .5rem 2rem; }
		&__text { display: inline; }
		&__btn-contact { display: none; }
		&__btn-login { display: none; }
		&__btn-signup-1 { display: none; }
		&__btn-signup-2 { display: block; }
	}

	.footer {
		&__wrapper {
			padding: 4rem 2rem;

			&--2 { flex-direction: column-reverse; }
		}

		&__message { text-align: center; }
	}
}