.body {
	background: rgb(5, 5, 5);
}


.header {
	position: sticky;
	z-index: 11;
	top: -1px;
	background: rgb( 0, 0, 0 );

	&__wrapper {
		max-width: 140.0rem;
		margin: 0 auto;
		padding: 1.6rem 3.0rem;
	}

	&__btn { margin-right: 2.0rem; }
}

.top-msg {
	padding: .8rem 2rem;
	background-color: rgba( 93, 39, 67, .3 );

	&__link {
		margin-right: 1.2rem;
		color: #ffffff;

		&:hover { color: rgb( 255, 102, 139 ); }
	}

	&__btn {
		padding: .2rem 1.2rem;
		border-radius: .8rem;
		font-size: 1.5rem;
	}
}

.logo {
	height: 3.5rem;
	margin-right: 8.0rem;
	display: block;
	transition: transform 250ms ease 0s, opacity 400ms ease 0s;

	&:hover { transform: scale( 1.1 ); }

	&__icon { height: 100%; }

	&__text { height: 1.7rem; }
}

.nav {
	box-shadow: rgba(255, 255, 255, 0) 0px 1px 1px inset, rgba(0, 0, 0, 0) 0px -1px 3px inset;
	backdrop-filter: blur( 24px );
}

.menu {
	&__item {
		position: relative;
	}

	&__link {
		display: flex;
		align-items: center;
		font-size: 1.6rem;
		white-space: nowrap;
		color: #ffffff;

		&:hover {
			opacity: 0.7;
			transition: opacity 200ms ease-in-out 0s;
		}

		&--underscore::before {
			width: 100%;
			margin-bottom: -.4rem;
			content: '';
			position: absolute;
			height: .2rem;
			bottom: 0;
			left: 0;
			transform: scaleX( 0 );
			background-color: rgb( 255, 255, 255 );
			transition: all 0.2s ease-in-out 0s;
		}
	}

	&__icon {
		display: block;
		
		transition: all 150ms ease 0s;

		&--caret {
			height: 2rem;
			margin-left: .5rem;
		}
		&--shortcut {
			height: 1rem;
			margin-left: auto;
			opacity: 0;
			transform: rotate( -180deg );
			transition: opacity 150ms ease 0;
		}
	}
}

// Show dropdown menu, animate option's arrow and show options's shortcut
.menu__item:hover > .dropdown { display: block; }
.menu__item:hover .menu__link .menu__icon--caret { transform: rotate( -180deg ); }
.menu__item:hover .menu__link--underscore::before { transform: scaleX( 1 ); }
.dropdown__item:hover .menu__link .menu__icon--shortcut { opacity: 1; }

.dropdown {
	padding: 2.4rem 2.4rem 1rem;
	border: 1px solid rgba( 255, 255, 255, .15 );
	border-radius: 1rem;
	display: none;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX( -50% );
	background-color: #000000;

	// Each Taskade's dropdown menu has its own fixed width
	&--s1 { width: 20.0rem; }
	&--s2 { width: 25.0rem; }

	&__item { margin-bottom: 1.5rem; }
}