.top-msg {
	padding: .8rem 2rem;
	background-color: rgba( 93, 39, 67, .3 );

	&__link {
		margin-right: 1.2rem;
		color: #ffffff;

		&:hover { color: rgb( 255, 102, 139 ); }
	}
}

.nav {
	box-shadow: rgba(255, 255, 255, 0) 0px 1px 1px inset, rgba(0, 0, 0, 0) 0px -1px 3px inset;
	backdrop-filter: blur( 24px );
}

.menu {
	&__item {
		position: relative;
	}

	&__link {
		display: flex;
		align-items: center;
		font-size: 1.6rem;
		white-space: nowrap;
		color: #ffffff;
		transition: opacity 200ms ease-in-out 0s;

		&:hover { opacity: 0.7; }

		&--underscore::before {
			width: 100%;
			margin-bottom: -.4rem;
			content: '';
			position: absolute;
			height: .2rem;
			bottom: 0;
			left: 0;
			transform: scaleX( 0 );
			background-color: rgb( 255, 255, 255 );
			transition: all 0.2s ease-in-out 0s;
		}
	}

	&__icon {
		display: block;
		
		transition: all 150ms ease 0s;

		&--caret {
			height: 2rem;
			margin-left: .5rem;
		}
		&--shortcut {
			height: 1rem;
			margin-left: auto;
			opacity: 0;
			transform: rotate( -180deg );
			transition: opacity 150ms ease 0;
		}
	}
}

// Show dropdown menu, animate option's arrow and show options's shortcut
.menu__item:hover > .dropdown { display: block; }
.menu__item:hover .menu__link .menu__icon--caret { transform: rotate( -180deg ); }
.menu__item:hover .menu__link--underscore::before { transform: scaleX( 1 ); }
.dropdown__item:hover .menu__link .menu__icon--shortcut { opacity: 1; }

.dropdown {
	padding: 2.4rem 2.4rem 1rem;
	border: 1px solid rgba( 255, 255, 255, .15 );
	border-radius: 1rem;
	display: none;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX( -50% );
	background-color: #000000;

	// Each Taskade's dropdown menu has its own fixed width
	&--s1 { width: 20.0rem; }
	&--s2 { width: 25.0rem; }

	&__item { margin-bottom: 1.5rem; }
}

.toggle {
	width: 4.8rem;
	height: 4.8rem;
	display: none;
	position: relative;

	&__input {
		z-index: 4;
		visibility: hidden;
		position: absolute;
	}

	&__btn {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 3;
		cursor: pointer;
		background-image: url( '../svg/hm-open.svg' );
		background-repeat: no-repeat;
		background-position: center;
	}

	&__background {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		pointer-events: none;
		background-color: rgba( 0, 0, 0, 0 );
		transition: background-color .3s ease-in-out 0s;
	}
}

// Show/hide Lateral menu
#hidden-menu:checked ~ .menu-2 { transform: translateX( 0 ); }
#hidden-menu:checked ~ .toggle__background {
	pointer-events: fill;
	background-color: rgba( 0, 0, 0, .5 );
}
#hidden-menu:checked ~ .toggle__btn { background-image: url( '../svg/hm-close.svg' ); }

.menu-2 {
	width: 100%;
	padding-top: 10.0rem;
	padding-left: 3rem;
	position: fixed;
	z-index: 2;
	inset: 0;
	transform: translateX( -100% );
	background: rgba( 0, 0, 0, .9 );
	transition: transform 960ms cubic-bezier( .2, 1.17, .3, 1 ) 0s, background 0s ease 0s;

	&__item { padding: .5rem; }

	&__link {
		display: block;
		font-size: 1.8rem;
		color: #fafafa;
	}
}

@media only screen and ( max-device-width: 991px ) {
	.top-msg { display: none !important; }
	.nav { display: none !important; }
	.toggle { display: block; }
}