
/*****************************************************
* Components for 'Pricing' Page
*****************************************************/

/* PRICING */
.pricing {
	max-width: 140.0rem;
	margin: 0 auto 10rem auto;

	&__row {
		&:not( :last-child ) { margin-bottom: 10rem; }

		&--wrapper {
			max-width: 113.2rem;
			margin: 0 auto;
		}
	}

	&__col {
		padding: 0 1.6rem;

		&--inner { padding: 0; } // Remove Bootstrap's default padding on columns
	}

	&__level {
		height: 100%;
		padding: 3.2rem 2.8rem;
		border-radius: 2.4rem;
		background-color: transparent;
		box-shadow: rgba( 255, 255, 255, .15 ) 0px 1px 3px inset, rgb( 33, 40, 49 ) 0px -1px 3px inset;

		&--highlight { background-image: radial-gradient( ellipse at top left,rgba(246,73,66,.1),transparent),radial-gradient(ellipse at center right,rgba(250,219,95,.1),transparent),radial-gradient(ellipse at bottom right,rgba(0,148,155,.15),transparent ) !important; }
	}

	&__heading {}

	&__text {
		font-size: 1.5rem;
		line-height: 2.1rem;
		color: var( --color-gray );

		&--highlight { color: var( --color-white ); }
	}

	&__price {
		margin-top: 4.2rem;
		display: flex;
		align-items: center;
	}

	&__symbol { font-size: 55%; }

	&__amount {
		margin-right: 1.2rem;
		font-size: 5.2rem;
		font-weight: 500;
		line-height: 5.8rem;
	}

	&__list { margin-top: 2.4rem; }

	&__item {
		font-size: 1.4rem;

		&:not( :last-child ) { margin-bottom: 1.4rem; }

		&::before {
			width: 2rem;
			height: 2rem;
			margin-right: .8rem;
			content: '';
			display: inline-block;
			vertical-align: middle;
			background-size: 2rem;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url( '../img/icons/included.png' );
		}
	}

	&__btn {
		border-radius: .8rem;
		margin: 4.2rem 0 3.2rem 0;
		padding: .96rem 2.4rem;

		&--1 { width: 100%; }
		&--2 {}
	}

	&__icon { margin-right: 2.8rem; }

}

/*************************************************************************************************************************************************************************/
@media only screen and ( max-device-width: 991px ) {
	.pricing {
		&__col { &:not( :last-child ) { margin-bottom: 4rem; } }

		&__btn { &--2 { width: 100%; } }
	}
}