@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;600&family=Work+Sans:wght@400;500;600;700&display=swap");
:root {
  --color-primary: #ff2d60;
  --color-primary-80: #ff426f;
  --color-primary-60: #ff567f;
  --color-primary-40: #ff6c8f;
  --color-primary-20: #ff819f;
  --color-secondary-blue: #5b95bf;
  --color-secondary-red: #f64942;
  --color-secondary-pink: #ef90a4;
  --color-bright-yellow: #fff13d;
  --color-gray: #9098a2;
  --color-gray-dark: #050505;
  --color-gray-100: #fafafa;
  --color-gray-300: #2c3035;
  --color-gray-400: #14120b;
  --color-gray-500: #17191c;
  --color-gray-600: #101113;
  --color-white: #ffffff;
  --color-black: #000000;
  --gradient-1: linear-gradient( to right top, #6c22bd, #8b25bb, #a52bb9, #bc34b7, #d040b5, #e645a5, #f55195, #ff6188, #ff796e, #ff965b, #f5b255, #e1cd60 );
  --gradient-2: linear-gradient( 90deg, #f64942, #ef90a4, #5b95bf );
  --gradient-radial-1: radial-gradient( 101.38% 205.08% at 23.35% 13.53%, #f64942 0%, #ef90a4 27.6%, #5b95bf 60.94% );
  --font-sans-serif: "Work Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  --font-monospace: "IBM Plex Mono", "Liberation Mono", "Courier New", monospace;
  --box-shadow: inset 0px 0px 2px hsla( 0, 0%, 100%, .2 ), inset 0px -1px 3px rgba( 0, 0, 0, .8 );
  --button-backlight-bg: radial-gradient(circle at bottom,#283f50 0,rgba(0,0,0,.8) 30%,#1f1f1f 100%);
  --button-backlight-bg-hover: radial-gradient(circle at bottom,#66211e 0,rgba(0,0,0,.8) 30%,#1f1f1f 100%);
  --button-backlight-hover-color: brightness(0) saturate(100%) invert(43%) sepia(50%) saturate(5353%) hue-rotate(339deg) brightness(106%) contrast(93%);
  --block-gradient-color1: #f4ce45;
  --block-gradient-color2: #ef90a4;
  --block-gradient-color3: #f64e49;
  --block-gradient-bg: #000;
  --block-gradient: radial-gradient(168.66% 321.3% at -5% 3.75%,var(--block-gradient-color1) 0%,var(--color-secondary-pink) 27.6%,var(--block-gradient-color3) 60.94%);
  --block-main-grid-bg: linear-gradient(0.25turn,rgba(91,149,191,.5),rgba(239,144,165,.5) 30%,transparent 50%,rgba(239,144,165,.5) 80%,rgba(91,149,191,.5));
  --block-main-grid-spotlight: radial-gradient(circle closest-side,var(--color-secondary-red),transparent);
  --block-main-glow-color1: green;
  --block-main-glow-color2: #ff0;
  --block-main-glow-color3: brown;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Work Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}

h1, h2 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
textarea {
  padding: 0;
  border: none;
}

/* TOP MESSAGE */
.top-msg {
  padding: 0.8rem 2rem;
  background-color: rgba(93, 39, 67, 0.3);
}
.top-msg__link {
  margin-right: 1.2rem;
  color: var(--color-white);
}
.top-msg__link:hover {
  color: var(--color-primary-60);
}
.top-msg__bold {
  font-weight: bolder;
}

/* HEADING */
.heading {
  text-align: center;
  color: var(--color-white);
}
.heading--1 {
  font-size: 11rem;
  font-weight: 600;
  line-height: 10rem;
  letter-spacing: -0.1rem;
}
.heading--2 {
  margin-bottom: 2.4rem;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 128%;
}
.heading--3 {
  margin-bottom: 1.6rem;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 125%;
}
.heading--4 {
  margin-bottom: 1.6rem;
  font-family: var(--font-monospace);
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0.13em;
  text-transform: uppercase;
}
.heading--5 {
  margin-bottom: 2rem;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 125%;
}
.heading__gradient {
  -webkit-text-fill-color: transparent;
  background-color: red;
  background-image: var(--gradient-2);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
}

/* BUTTON */
.my-btn {
  padding: 0;
  margin: 0;
  outline: 0;
  display: block;
  font-family: "Work Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  background-color: #ff2d60;
  transition: color 200ms ease-in-out 0s, background-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
}
.my-btn:hover {
  background-color: #ff426f;
}
.my-btn--empty {
  border: 1px solid hsla(0, 0%, 98%, 0.4);
  background-color: transparent;
  transition: color 200ms ease-in-out 0s, background-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
}
.my-btn--empty:hover {
  border-color: #ff2d60;
  background-color: #ff2d60;
}

/* SEARCH */
.search {
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.2rem 3rem;
  position: sticky;
  z-index: 10;
  top: 6.5rem;
  background: rgba(5, 5, 5, 0.8);
}
.search__link {
  width: 100%;
  max-width: 4.4rem;
  height: 4.4rem;
  margin-right: auto;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-500);
  transition: background-color 150ms ease-in-out 0s;
}
.search__link:hover .search__icon--house {
  opacity: 1;
}
.search__bar {
  width: 30%;
  height: 4.4rem;
  margin-right: 1rem;
  padding: 0 1.2rem;
  border-radius: 1.2rem;
  border: 1px solid var(--color-gray-300);
  display: flex;
  align-items: center;
  cursor: text;
  color: var(--color-white);
  background-color: var(--color-gray-500);
}
.search__input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  display: block;
  text-overflow: ellipsis;
  background-color: transparent;
  color: var(--color-white);
}
.search__input::-moz-placeholder {
  color: var(--color-gray-100);
}
.search__input::placeholder {
  color: var(--color-gray-100);
}
.search__btn {
  height: 4.4rem;
  padding: 0 1.6rem;
  border: 1px solid var(--color-gray);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-gray-100);
  transition: background-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s, border-color 200ms ease-in-out 0s;
  background-color: var(--color-black);
}
.search__btn:hover {
  border-color: transparent;
  background-color: var(--color-gray-100);
  color: var(--color-gray-dark);
}
.search__btn:hover .search__icon--categories {
  content: url("../svg/icons/categories-2.svg");
}
.search__btn:hover .search__icon--expand {
  content: url("../svg/icons/expand-2.svg");
}
.search__icon {
  display: block;
}
.search__icon--house {
  width: 2.1rem;
  height: 2.1rem;
  opacity: 0.8;
  transition: opacity 150ms ease-in-out 0s;
}
.search__icon--categories {
  width: 2.1rem;
  height: 2.1rem;
}
.search__icon--search {
  width: 2rem;
  height: 2rem;
  margin-right: 1.2rem;
}
.search__icon--expand {
  width: 1.4rem;
  height: 1.4rem;
}

/* CARDS */
.cards {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.cards__heading {
  margin-bottom: 8rem;
  position: relative;
  font-size: 4.8rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}
.cards__heading::after {
  content: "";
  transform-origin: center center;
  background-image: linear-gradient(to right top, #6c22bd, #8b25bb, #a52bb9, #bc34b7, #d040b5, #e645a5, #f55195, #ff6188, #ff796e, #ff965b, #f5b255, #e1cd60);
  position: absolute;
  left: 50%;
  border-radius: 20px;
  transform: skewY(-15deg) translate(-50%, -50%) scale(0.7) translateZ(0);
  pointer-events: none;
  width: 900px;
  height: 500px;
  filter: blur(100px);
  opacity: 0.4;
  top: 0;
  transition: filter 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.cards__list {
  position: relative;
}
.cards__glare {
  width: 100%;
  position: absolute;
  top: 5%;
  bottom: -10%;
  margin: 0px auto;
  z-index: -1;
}
.cards__glare::after {
  content: "";
  display: block;
  width: 700px;
  height: 700px;
  transition: opacity 0.6s ease-in-out 0s, transform 0.6s ease-in-out 0s;
  position: sticky;
  top: 50%;
  left: 25%;
  background: radial-gradient(101.38% 205.08% at 23.35% 13.53%, #f64942 0%, #ef90a4 27.6%, #5b95bf 60.94%);
  opacity: 0.67;
  filter: blur(155px);
  will-change: transform;
  border-radius: 275px;
}
.cards__col {
  padding: 0.8rem !important;
}
.cards__card {
  height: 100%;
  padding: 3rem;
  border-radius: 2rem;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background: rgba(16, 17, 19, 0.7);
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 3px inset, rgba(255, 255, 255, 0) 0 -1px 3px inset;
}
.cards__img {
  max-width: 100%;
  margin-bottom: 2.4rem;
  border-radius: 1rem;
  display: block;
}
.cards__name {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #ffffff;
}
.cards__text {
  color: #9098a2;
}

/* CARDS #2 */
.cards-2 {
  max-width: 140rem;
  padding: 0 3rem;
  margin: 0 auto;
}
.cards-2__header {
  margin-bottom: 5.6rem;
}
.cards-2__text {
  font-size: 2rem;
  line-height: 150%;
  text-align: center;
  color: var(--color-gray);
}
.cards-2__col {
  padding: 1.6rem;
}
.cards-2__figure {
  margin-bottom: 2.4rem;
  border-radius: 1.6rem;
  overflow: hidden;
  position: relative;
  height: 26.2rem;
}
.cards-2__img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards-2__figure:hover .cards-2__overlay {
  opacity: 1;
}
.cards-2__overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms ease-in-out 0s;
}
.cards-2__btn {
  width: 100%;
  max-width: 18rem;
  border-radius: 0.8rem;
  padding: 1.4rem 3.2rem;
}
.cards-2__link {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--color-white);
  transition: font-size 200ms ease-in-out 0s;
}

/* CARDS COLOR */
.cards-color {
  max-width: 140rem;
  margin: 0 auto;
}
.cards-color__heading {
  margin-bottom: 6.4rem;
}
.cards-color__col {
  padding: 2rem;
}
.cards-color__card {
  padding: 3.2rem;
  border-radius: 1.6rem;
  display: block;
}
.cards-color__card:hover {
  -webkit-backdrop-filter: blur(120px);
          backdrop-filter: blur(120px);
  box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 3px inset, rgb(0, 0, 0) 0px -1px 3px inset;
  background: linear-gradient(120deg, rgba(246, 73, 66, 0.05), rgba(250, 219, 95, 0.05), rgba(0, 148, 255, 0.05));
}
.cards-color__line {
  height: 0.4rem;
  margin-bottom: 3.8rem;
  border-radius: 3.2rem;
}
.cards-color__line--blue-1 {
  background-color: rgb(66, 106, 136);
}
.cards-color__line--blue-2 {
  background-color: rgb(91, 149, 191);
}
.cards-color__line--blue-3 {
  background-color: rgb(78, 255, 239);
}
.cards-color__line--blue-4 {
  background-color: rgb(83, 216, 251);
}
.cards-color__line--green-1 {
  background-color: rgb(2, 138, 159);
}
.cards-color__line--green-2 {
  background-color: rgb(0, 166, 118);
}
.cards-color__line--green-3 {
  background-color: rgb(151, 216, 196);
}
.cards-color__line--green-4 {
  background-color: rgb(199, 242, 167);
}
.cards-color__line--pink-1 {
  background-color: rgb(255, 45, 96);
}
.cards-color__line--pink-2 {
  background-color: rgb(170, 67, 120);
}
.cards-color__line--pink-3 {
  background-color: rgb(239, 144, 164);
}
.cards-color__line--pink-4 {
  background-color: rgb(171, 86, 129);
}
.cards-color__line--pink-5 {
  background-color: rgb(114, 25, 90);
}
.cards-color__line--pink-6 {
  background-color: rgb(169, 104, 119);
}
.cards-color__line--pink-7 {
  background-color: rgb(237, 33, 124);
}
.cards-color__line--yellow-1 {
  background-color: rgb(250, 219, 95);
}
.cards-color__line--yellow-2 {
  background-color: rgb(237, 174, 73);
}
.cards-color__line--yellow-2 {
  background-color: rgb(237, 174, 73);
}
.cards-color__line--yellow-3 {
  background-color: rgb(174, 126, 75);
}
.cards-color__line--orange-1 {
  background-color: rgb(174, 53, 48);
}
.cards-color__line--orange-2 {
  background-color: rgb(186, 63, 29);
}
.cards-color__line--orange-3 {
  background-color: rgb(255, 155, 113);
}
.cards-color__line--orange-4 {
  background-color: rgb(255, 136, 17);
}
.cards-color__line--purple-1 {
  background-color: rgb(120, 121, 241);
}
.cards-color__line--purple-2 {
  background-color: rgb(165, 166, 246);
}
.cards-color__line--purple-3 {
  background-color: rgb(199, 184, 234);
}
.cards-color__line--gray-1 {
  background-color: rgb(193, 207, 218);
}
.cards-color__line--gray-2 {
  background-color: rgb(174, 180, 169);
}
.cards-color__name {
  text-align: left;
}
.cards-color__wrapper {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.cards-color__text {
  font-size: 1.8rem;
  line-height: 172%;
  color: var(--color-gray);
}

/* PLATFORMS */
.platforms {
  max-width: 120rem;
  margin: 0 auto;
  border-radius: 2.4rem;
  background-color: rgba(23, 25, 28, 0.6);
}
.platforms--small .platforms__item {
  max-width: 6.4rem;
}
.platforms--small .platforms__box {
  width: 6.4rem;
  height: 6.4rem;
}
.platforms--small .platforms__icon {
  width: 3rem;
  height: 3rem;
}
.platforms--theme-1 {
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  background: hsla(0, 0%, 100%, 0.04);
  background-image: radial-gradient(circle at top left, rgba(246, 105, 66, 0.05) 10%, transparent 40%), radial-gradient(circle at bottom right, rgba(250, 219, 95, 0.05) 10%, transparent 50%);
  background-size: 150% 150%;
  box-shadow: inset 0 1px 3px hsla(0, 0%, 100%, 0.15), inset 0 -1px 3px #000;
}
.platforms__header {
  margin-bottom: 4rem;
}
.platforms__heading {
  margin-bottom: 0;
  color: var(--color-white);
}
.platforms__text {
  font-size: 1.8rem;
  text-align: center;
  color: var(--color-white);
}
.platforms__item {
  max-width: 8rem;
  margin: 1.6rem 2rem;
  padding: 0 !important;
}
.platforms__link {
  display: block;
}
.platforms__link--heading {
  margin-bottom: 3.5rem;
}
.platforms__box {
  width: 8rem;
  height: 8rem;
  margin-bottom: 1.2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  box-shadow: inset 0 0 2px hsla(0, 0%, 100%, 0.2), inset 0 -1px 3px rgba(0, 0, 0, 0.8);
  background-image: radial-gradient(circle at bottom, rgba(91, 149, 191, 0.4) 0, hsla(0, 0%, 9%, 0.8) 30%, rgba(30, 30, 30, 0.8) 100%);
}
.platforms__box:hover::after {
  opacity: 1;
}
.platforms__box::after {
  border-radius: 2rem;
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  opacity: 0;
  background-image: radial-gradient(circle at bottom, rgba(210, 18, 11, 0.5) 0, hsla(0, 0%, 9%, 0.8) 30%, rgba(40, 40, 40, 0.8) 100%);
  box-shadow: inset 0 0 2px hsla(0, 0%, 100%, 0.2), inset 0 -1px 3px rgba(0, 0, 0, 0.8);
  transition: opacity 0.1s linear;
}
.platforms__box:hover .platforms__icon {
  background-image: url("../svg/logos/android-2.svg");
}
.platforms__box:hover .platforms__icon--android {
  background-image: url("../svg/logos/android-2.svg");
}
.platforms__box:hover .platforms__icon--ios {
  background-image: url("../svg/logos/ios-2.svg");
}
.platforms__box:hover .platforms__icon--mac {
  background-image: url("../svg/logos/mac.svg");
}
.platforms__box:hover .platforms__icon--windows {
  background-image: url("../svg/logos/windows-2.svg");
}
.platforms__box:hover .platforms__icon--microsoft {
  background-image: url("../svg/logos/microsoft-store-2.svg");
}
.platforms__box:hover .platforms__icon--linux {
  background-image: url("../svg/logos/linux-2.svg");
}
.platforms__box:hover .platforms__icon--chrome {
  background-image: url("../svg/logos/chrome-2.svg");
}
.platforms__box:hover .platforms__icon--firefox {
  background-image: url("../svg/logos/firefox-2.svg");
}
.platforms__box:hover .platforms__icon--edge {
  background-image: url("../svg/logos/edge-2.svg");
}
.platforms__box:hover .platforms__icon--snap {
  background-image: url("../svg/logos/snap-store-2.svg");
}
.platforms__icon {
  width: 3.6rem;
  height: 3.6rem;
  background-image: url("../svg/logos/android-1.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.platforms__icon--android {
  background-image: url("../svg/logos/android-1.svg");
}
.platforms__icon--ios {
  background-image: url("../svg/logos/ios-1.svg");
}
.platforms__icon--mac {
  background-image: url("../svg/logos/mac.svg");
}
.platforms__icon--windows {
  background-image: url("../svg/logos/windows-1.svg");
}
.platforms__icon--microsoft {
  background-image: url("../svg/logos/microsoft-store-1.svg");
}
.platforms__icon--linux {
  background-image: url("../svg/logos/linux-1.svg");
}
.platforms__icon--chrome {
  background-image: url("../svg/logos/chrome-1.svg");
}
.platforms__icon--firefox {
  background-image: url("../svg/logos/firefox-1.svg");
}
.platforms__icon--edge {
  background-image: url("../svg/logos/edge-1.svg");
}
.platforms__icon--snap {
  background-image: url("../svg/logos/snap-store-1.svg");
}
.platforms__name {
  display: block;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.6rem;
  color: var(--color-gray);
}

/* DEVICES */
.devices {
  height: 30.9rem;
  position: relative;
}
.devices__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.devices__img {
  position: absolute;
}
.devices__img--1 {
  top: -15%;
  right: -5%;
}
.devices__img--2 {
  top: 80.3%;
  left: -5%;
}

/* FAQ */
.faq {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3rem;
}
.faq__header {
  margin-bottom: 4rem;
}
.faq__text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: -0.008rem;
  text-align: center;
  color: var(--color-gray);
}
.faq__link {
  text-decoration: underline;
  color: var(--color-white);
}
.faq__row {
  margin-bottom: 4rem;
}
.faq__col {
  padding: 0;
}
.faq__col:not(:last-child) {
  padding-right: 4rem;
}
.faq__item {
  margin-bottom: 10px;
  padding: 2.4rem 6rem 2.6rem 0;
  border-bottom: 0.2rem solid var(--color-gray-300);
  position: relative;
  cursor: pointer;
}
.faq__item:hover::after {
  opacity: 1;
}
.faq__item::after {
  height: 2rem;
  width: 2rem;
  content: "";
  position: absolute;
  z-index: 2;
  right: 0;
  top: 40%;
  opacity: 0.4;
  background-image: url("../svg/icons/plus.svg");
  background-repeat: no-repeat;
  transition: opacity 400ms cubic-bezier(0.38, 0.29, 0.33, 1) 0s;
}
.faq__question {
  font-weight: 600;
  line-height: 172%;
  color: var(--color-white);
}
.faq__btn {
  border-radius: 0.8rem;
  margin: 0 auto;
  padding: 0.96rem 2.4rem;
}

/* COMPANIES */
.companies__heading {
  margin-bottom: 4rem;
  font-family: "IBM Plex Mono", "Liberation Mono", "Courier New", monospace;
  font-weight: 500;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  text-align: center;
}
.companies__list {
  margin: 0;
}
.companies__company {
  width: 20rem;
  height: 12rem;
  padding: 0 !important;
  border: 1px solid rgb(44, 48, 53);
  background: rgb(5, 5, 5);
  background-repeat: no-repeat;
  background-position: center;
}
.companies__company--lyft {
  background-image: url("../img/logos/lyft.svg");
}
.companies__company--trasnfer {
  background-image: url("../img/logos/transfer-wise.svg");
}
.companies__company--compass {
  background-image: url("../img/logos/compass.svg");
}
.companies__company--netflix {
  background-image: url("../img/logos/netflix.svg");
}
.companies__company--booking {
  background-image: url("../img/logos/booking-com.svg");
}
.companies__company--sony {
  background-image: url("../img/logos/sony.svg");
}

/* SUSCRIBE */
.suscribe {
  border-top: 1px solid rgb(44, 48, 53);
  border-bottom: 1px solid rgb(44, 48, 53);
}
.suscribe__wrapper {
  max-width: 140rem;
  margin: 0 auto;
  padding: 21rem 3%;
  text-align: center;
}
.suscribe__text {
  margin-bottom: 5rem;
  font-size: 2rem;
  line-height: 1.5;
  color: rgb(197, 197, 197);
}
.suscribe__bar {
  min-width: 37.2rem;
  padding: 1rem 1.2rem 1rem 2.4rem;
  border-radius: 4.8rem;
  background-color: #17191c;
  color: #fafafa;
}
.suscribe__icon {
  width: 2rem;
  display: block;
}
.suscribe__input {
  width: 18rem;
  padding-left: 1.2rem;
  border: 0;
  outline: 0;
  background-color: transparent;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
}
.suscribe__input::-moz-placeholder {
  font-size: 1.6rem;
  color: gray;
}
.suscribe__input::placeholder {
  font-size: 1.6rem;
  color: gray;
}
.suscribe__btn {
  padding: 0.96rem 2rem;
  border-radius: 2.5rem;
}

/* CONTACT */
.contact {
  border-top: 1px solid rgb(44, 48, 53);
  border-bottom: 1px solid rgb(44, 48, 53);
}
.contact__wrapper {
  padding: 11.6rem 0;
}
.contact__heading {
  margin-bottom: 5rem;
}
.contact__btn {
  padding: 1.8rem 2.4rem;
  border-radius: 0.8rem;
}

/*************************************************************************************************************************************************************************/
@media only screen and (max-device-width: 1199px) {
  .cards-2__link {
    font-size: 1.8rem;
  }
}
@media only screen and (max-device-width: 991px) {
  .heading--2 {
    font-size: 4.2rem;
  }
  .heading--3 {
    font-size: 3.8rem;
  }
  .search {
    top: 5.5rem;
  }
  .search__bar {
    width: 100%;
  }
  .search__link {
    margin-right: 1rem;
  }
  .platforms__item {
    max-width: 6.4rem;
  }
  .platforms__box {
    width: 6.4rem;
    height: 6.4rem;
  }
  .platforms__icon {
    width: 3rem;
    height: 3rem;
  }
  .faq__col {
    padding: 0 4rem;
  }
}
/* NAVIGATION STUFF */
.nav {
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  box-shadow: rgba(255, 255, 255, 0) 0px 1px 1px inset, rgba(0, 0, 0, 0) 0px -1px 3px inset;
}

/* MAIN MENU */
.menu__item {
  position: relative;
}
.menu__item:not(:last-child) {
  margin-right: 2.6rem;
}
.menu__link {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  white-space: nowrap;
  color: #ffffff;
  transition: opacity 200ms ease-in-out 0s;
}
.menu__link:hover {
  opacity: 0.7;
}
.menu__icon {
  display: block;
  transition: all 150ms ease 0s;
}
.menu__icon--caret {
  height: 2rem;
  margin-left: 0.5rem;
}
.menu__icon--shortcut {
  height: 1rem;
  margin-left: auto;
  opacity: 0;
  transform: rotate(-180deg);
  transition: opacity 150ms ease 0;
}

.menu__item:hover > .dropdown {
  display: block;
}

.menu__item:hover .menu__link .menu__icon--caret {
  transform: rotate(-180deg);
}

.menu__item:hover .menu__link--underscore::before {
  transform: scaleX(1);
}

.dropdown__item:hover .menu__link .menu__icon--shortcut {
  opacity: 1;
}

/* DROPDOWN MENU */
.dropdown {
  padding: 2.4rem 2.4rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  background-color: #000000;
}
.dropdown--s1 {
  width: 20rem;
}
.dropdown--s2 {
  width: 25rem;
}
.dropdown__item {
  margin-bottom: 1.5rem;
}

/* TOGGLE STUFF */
.toggle {
  width: 4.8rem;
  height: 4.8rem;
  display: none;
  position: relative;
}
.toggle__input {
  z-index: 4;
  visibility: hidden;
  position: absolute;
}
.toggle__btn {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  background-image: url("../svg/hm-open.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.toggle__background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-in-out 0s;
}

#hidden-menu:checked ~ .menu-toggle {
  transform: translateX(0);
}

#hidden-menu:checked ~ .toggle__background {
  pointer-events: fill;
  background-color: rgba(0, 0, 0, 0.5);
}

#hidden-menu:checked ~ .toggle__btn {
  background-image: url("../svg/hm-close.svg");
}

/* TOGGLE MENU */
.menu-toggle {
  width: 100%;
  padding-top: 10rem;
  padding-left: 3rem;
  position: fixed;
  z-index: 2;
  inset: 0;
  transform: translateX(-100%);
  background: rgba(0, 0, 0, 0.9);
  transition: transform 960ms cubic-bezier(0.2, 1.17, 0.3, 1) 0s, background 0s ease 0s;
}
.menu-toggle__item {
  padding: 0.5rem;
}
.menu-toggle__item:not(:last-child) {
  margin-bottom: 1.6rem;
}
.menu-toggle__link {
  display: block;
  font-size: 1.8rem;
  color: #fafafa;
}

/* BODY */
.body {
  background-color: rgb(5, 5, 5);
}

/* HEADER */
.header {
  position: sticky;
  z-index: 11;
  top: -1px;
  background: rgb(0, 0, 0);
}
.header__wrapper {
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.6rem 3rem;
  transition: padding 200ms ease-in-out 0s;
}
.header__logo {
  height: 3.5rem;
  margin-right: 4rem;
  display: block;
  transition: transform 250ms ease 0s, opacity 400ms ease 0s;
}
.header__logo:hover {
  transform: scale(1.1);
}
.header__icon {
  height: 100%;
  margin-right: 0.4rem;
}
.header__text {
  height: 1.7rem;
}
.header__link {
  position: relative;
  font-size: 1.6rem;
  color: #ffffff;
  transition: opacity 200ms ease-in-out 0s;
}
.header__link::before {
  width: 100%;
  margin-bottom: -0.4rem;
  content: "";
  position: absolute;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  background-color: rgb(255, 255, 255);
  transition: all 0.2s ease-in-out 0s;
}
.header__link:hover {
  opacity: 0.7;
}
.header__link:hover::before {
  transform: scaleX(1);
}
.header__btn-signup {
  padding: 0.4rem 1.8rem;
  border-radius: 0.8rem;
  display: none;
}
.header__btn-signup--1 {
  padding: 0.6rem 2.4rem;
}
.header__btn-signup--2 {
  margin-right: 1rem;
  padding: 0.4rem 1.8rem;
}

/* MAIN */
.main {
  padding-top: 4rem;
}

/* SECTION */
.section:not(:last-child) {
  margin-bottom: 24rem;
}
.section--banner {
  padding: 0 2rem;
}
.section--apps {
  padding: 4rem 13.5rem 15rem;
}

/* FOOTER */
.footer {
  width: 100%;
  background: rgb(0, 0, 0);
}
.footer__row--bottom {
  border-top: 0.1rem solid rgb(71, 71, 71);
}
.footer__wrapper {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
}
.footer__wrapper--1 {
  padding: 4rem 3rem;
}
.footer__wrapper--2 {
  padding: 2.5rem 3rem;
}
.footer__menu {
  padding: 0 !important;
}
.footer__item:not(:last-child) {
  margin-bottom: 1.6rem;
}
.footer__item:hover > .footer__link {
  opacity: 0.7;
}
.footer__link {
  display: block;
  color: #9098a2;
  font-size: 1.4rem;
  transition: opacity 200ms ease-in-out 0s;
}
.footer__link--heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  color: #ffffff;
}
.footer__btn {
  margin-bottom: 1.6rem;
  display: block;
  cursor: pointer;
  font-size: 1.4rem;
  color: #ffffff;
  transition: color 200ms ease 0s;
}
.footer__btn:hover {
  color: rgb(221, 221, 221);
}
.footer__img {
  width: 100%;
  max-width: 20rem;
  border-radius: 1rem;
  display: block;
}
.footer__mobile {
  max-width: 20rem;
  display: block;
  line-height: 172%;
  color: #ffffff;
}
.footer__message {
  display: block;
}
.footer__legal {
  color: rgb(153, 153, 153);
  transition: opacity 200ms ease-in-out 0s;
}
.footer__legal:not(:last-child) {
  margin-right: 8px;
}
.footer__legal:hover {
  opacity: 0.7;
}
.footer__social:not(:first-child) {
  margin-left: 1rem;
}
.footer__social:not(:last-child) {
  margin-right: 1rem;
}
.footer__social:hover .footer__icon {
  opacity: 1;
}
.footer__icon {
  width: 2rem;
  height: 2rem;
  display: block;
  opacity: 0.6;
}

/*************************************************************************************************************************************************************************/
@media only screen and (max-device-width: 1099px) {
  .header__text {
    display: none;
  }
}
@media only screen and (max-device-width: 991px) {
  .header__wrapper {
    padding: 0.5rem 2rem;
  }
  .header__text {
    display: inline;
  }
  .footer__wrapper {
    padding: 4rem 2rem;
  }
  .footer__message {
    text-align: center;
  }
}
/* FEATURES */
.features {
  margin-bottom: 4rem;
}
.features__heading {
  max-width: 110rem;
  margin: 4rem auto;
  position: relative;
}
.features__heading:hover::after {
  filter: blur(140px);
  opacity: 0.6;
}
.features__heading::after {
  width: 90rem;
  height: 50rem;
  border-radius: 2rem;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: center center;
  transform: skewY(-15deg) translate(-50%, -50%) scale(0.7) translateZ(0);
  filter: blur(100px);
  pointer-events: none;
  opacity: 0.4;
  background-image: var(--gradient-1);
  transition: filter 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.features__buttons {
  margin-bottom: 4rem;
}
.features__btn {
  min-width: 16rem;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: background-color 250ms ease-in-out 0s;
}
.features__btn:not(:last-child) {
  margin-right: 0.8rem;
}
.features__btn:hover {
  background: rgba(255, 255, 255, 0.08);
}
.features__btn--active {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px inset;
}
.features__btn:hover .features__icon {
  opacity: 1;
}
.features__btn--active .features__icon {
  opacity: 1;
}
.features__icon {
  height: 2rem;
  display: block;
  opacity: 0.5;
  transition: opacity 150ms ease-in-out 0s;
}
.features__btn:hover .features__text {
  color: var(--color-white);
}
.features__btn--active .features__text {
  color: var(--color-white);
}
.features__text {
  white-space: nowrap;
  color: rgb(204, 204, 204);
}
.features__slides {
  width: 100%;
  position: relative;
}
.features__slides::after {
  width: 70%;
  height: 50%;
  border-radius: 27.5rem;
  content: "";
  display: flex;
  position: absolute;
  z-index: -2;
  top: 40%;
  left: 14%;
  mix-blend-mode: lighten;
  opacity: 0.67;
  filter: blur(185px);
  will-change: transform;
  background-image: var(--gradient-radial-1);
}
.features__slide {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: block;
}
.features__slides:hover .features__link {
  opacity: 1;
}
.features__link {
  padding: 1rem 1.5rem;
  border-radius: 3.3rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-weight: 600;
  white-space: nowrap;
  color: rgb(0, 0, 0);
  background-color: var(--color-white);
  transition: opacity 200ms ease-in-out 0s;
}
.features__link:hover {
  color: rgba(0, 0, 0, 0.7);
}

/* LANDING CARDS */
.landing-cards__header {
  margin-bottom: 24rem;
  position: relative;
  text-align: center;
}
.landing-cards__header:hover::after {
  filter: blur(140px);
  opacity: 0.6;
}
.landing-cards__header::after {
  width: 90rem;
  height: 50rem;
  border-radius: 2rem;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0.4;
  filter: blur(100px);
  pointer-events: none;
  transform-origin: center center;
  transform: skewY(-15deg) translate(-50%, -50%) scale(0.7) translateZ(0);
  background-image: linear-gradient(to right top, #6c22bd, #8b25bb, #a52bb9, #bc34b7, #d040b5, #e645a5, #f55195, #ff6188, #ff796e, #ff965b, #f5b255, #e1cd60);
  transition: filter 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.landing-cards__heading {
  color: #ffffff;
}
.landing-cards__heading--2 {
  max-width: 142rem;
  margin: 0 auto 1.6rem auto;
  padding: 0 2rem;
  font-size: 10rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
}
.landing-cards__heading--3 {
  margin-bottom: 1.6rem;
  font-size: 4.2rem;
  font-weight: 600;
  letter-spacing: -0.01rem;
  color: #ffffff;
}
.landing-cards__heading--4 {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(144, 152, 162);
}
.landing-cards__text {
  max-width: 74rem;
  margin: 0 auto;
  padding: 0 2rem;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: -0.05rem;
  color: #9098a2;
}
.landing-cards__item:not(:last-child) {
  margin-bottom: 24rem;
}
.landing-cards__item:hover .landing-cards__figure::after {
  filter: blur(140px);
  opacity: 0.9;
}
.landing-cards__figure {
  padding: 0 2rem !important;
  position: relative;
}
.landing-cards__figure::after {
  width: 50rem;
  height: 50rem;
  border-radius: 2rem;
  content: "";
  position: absolute;
  z-index: -1;
  top: 40%;
  left: 50%;
  filter: blur(100px);
  pointer-events: none;
  transform-origin: center;
  transform: skewY(-15deg) translate(-50%, -50%) scale(1) translateZ(0);
  opacity: 0.7;
  background-image: linear-gradient(to right top, #6c22bd, #8b25bb, #a52bb9, #bc34b7, #d040b5, #e645a5, #f55195, #ff6188, #ff796e, #ff965b, #f5b255, #e1cd60);
  transition: filter 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.landing-cards__info {
  padding: 0 !important;
}
.landing-cards__info--left {
  padding-left: 8rem !important;
}
.landing-cards__info--right {
  padding-right: 8rem !important;
}
.landing-cards__img {
  width: 100%;
  display: block;
}
.landing-cards__description {
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: -0.008rem;
  color: #9098a2;
}
.landing-cards__menu {
  margin-bottom: 4rem;
}
.landing-cards__btn {
  margin: 0;
  padding: 1rem 1.8rem;
  border: none;
  border-radius: 1rem;
  outline: 0;
  display: flex;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  transition: background-color 250ms ease-in-out 0s;
}
.landing-cards__btn:not(:last-child) {
  margin-right: 1rem;
}
.landing-cards__btn:hover {
  background: rgba(255, 255, 255, 0.08);
}
.landing-cards__btn--active {
  background: rgba(255, 255, 255, 0.08);
}
.landing-cards__btn:hover .landing-cards__icon {
  opacity: 1;
}
.landing-cards__btn--active .landing-cards__icon {
  opacity: 1;
}
.landing-cards__icon {
  height: 1.8rem;
  display: block;
  opacity: 0.5;
  transition: opacity 150ms ease-in-out 0s;
}
.landing-cards__tool {
  max-height: 3.6rem;
  filter: grayscale(100%);
  opacity: 0.5;
}
.landing-cards__tool:not(:last-child) {
  margin-right: 2rem;
}

/* REVIEWS */
.reviews__header {
  max-width: 140rem;
  margin: 0 auto 6.4rem auto;
}
.reviews__heading {
  max-width: 60rem;
  font-size: 4.8rem;
  font-weight: 600;
  letter-spacing: -0.01rem;
  color: #fff;
}
.reviews__link {
  padding: 0.96rem 2.4rem;
}
.reviews__comments {
  max-width: 140rem;
  margin: 0 auto 4rem auto;
}
.reviews__item {
  padding: 4rem 0 4rem 3.2rem;
  border-radius: 2.4rem;
  background: #101113;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 3px inset, rgb(0, 0, 0) 0 -1px 3px inset;
}
.reviews__item:not(:last-child) {
  margin-right: 2rem;
}
.reviews__text {
  width: 90%;
  margin-bottom: 3rem;
  font-size: 1em;
  color: #ffffff;
}
.reviews__profile {
  height: 4rem;
  margin-right: 1.6rem;
}
.reviews__btn {
  padding: 0;
  border: none;
  outline: none;
  display: block;
  background-color: transparent;
}
.reviews__btn:not(:last-child) {
  margin-right: 0.5rem;
}
.reviews__btn:hover .reviews__icon {
  content: url("../img/icons/dot-active.svg");
}
.reviews__btn--active .reviews__icon {
  content: url("../img/icons/dot-active.svg");
}
.reviews__icon {
  display: block;
}

/*************************************************************************************************************************************************************************/
@media only screen and (max-device-width: 1099px) {
  .devices {
    max-width: 70rem;
    height: 60rem;
  }
  .devices__menu {
    max-width: 40rem;
  }
}
@media only screen and (max-device-width: 991px) {
  .main__heading {
    margin-top: 0;
    font-size: 4.8rem;
    line-height: 5rem;
  }
  .features__btn {
    min-width: 7.8rem;
  }
  .landing-cards__heading--2 {
    font-size: 4.8rem;
  }
  .landing-cards__text {
    max-width: 100%;
    font-size: 1.8rem;
    letter-spacing: -0.008rem;
  }
  .landing-cards__info {
    padding: 0 2rem !important;
    margin-bottom: 4rem;
  }
  .landing-cards__figure::after {
    display: none;
  }
  .reviews__heading {
    margin-bottom: 2rem;
    font-size: 4rem;
    text-align: center;
  }
  .reviews__item {
    margin-right: 0 !important;
  }
  .reviews__item:not(:last-child) {
    margin-bottom: 4rem;
  }
  .cards__glare {
    display: none;
  }
}
/* APPS */
.apps__header {
  margin-bottom: 10rem;
}
.apps__text {
  max-width: 59rem;
  margin: 0 auto;
  text-align: center;
}
.apps__row {
  max-width: 120rem;
  margin: 0 auto;
}
.apps__row:not(:last-child) {
  margin-bottom: 6.4rem;
}
.apps__col {
  margin: 0;
  padding: 0;
}
.apps__col:not(:last-child) {
  padding-right: 6.4rem;
}
.apps__platforms {
  height: 100%;
  padding: 6.4rem 9rem;
}

/*************************************************************************************************************************************************************************/
@media only screen and (max-device-width: 991px) {
  .apps__col {
    padding-right: 0 !important;
  }
  .apps__col:not(:last-child) {
    padding-bottom: 6.4rem;
  }
}
/* PLANS */
.plans__tabs {
  border-bottom: 1px solid var(--color-gray-300);
  margin-bottom: 4rem;
}
.plans__tab {
  padding: 1.2rem 2.4rem;
  border-width: 1px 1px 0px;
  border-style: solid solid none;
  border-color: var(--color-gray-300) var(--color-gray-300) currentcolor;
  -o-border-image: none 100%/1/0 stretch;
     border-image: none 100%/1/0 stretch;
  border-radius: 1rem 1rem 0 0;
  display: block;
  font-weight: 500;
  color: var(--color-gray);
  background-color: var(--color-black);
}
.plans__tab:not(:last-child) {
  margin-right: 2rem;
}
.plans__tab:hover {
  color: var(--color-white);
}
.plans__tab--active {
  color: var(--color-white);
}
.plans__wrapper {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3rem;
}
.plans__tiers {
  margin: 0;
  padding: 2rem 4rem;
  position: sticky;
  z-index: 2;
  top: 6.4rem;
  background-color: rgba(5, 5, 5, 0.9);
}
.plans__tier {
  padding: 0;
}
.plans__level {
  margin-bottom: 2rem;
  display: block;
  font-size: 2.4rem;
  text-align: center;
  color: var(--color-white);
}
.plans__link {
  width: 100%;
  max-width: 75%;
  padding: 0.96rem 0;
  border-radius: 0.8rem;
  text-align: center;
}
.plans__list {
  margin: 0;
}
.plans__list:not(:last-child) {
  margin-bottom: 5rem;
}
.plans__item {
  padding: 1.2rem 4rem;
  margin: 0;
  border-bottom: 1px solid var(--color-gray-300);
}
.plans__item:hover:not(:first-child) {
  background-color: rgb(16, 20, 24);
}
.plans__col {
  padding: 0;
}
.plans__title {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--color-white);
}
.plans__name {
  cursor: pointer;
  font-weight: 500;
  -webkit-text-decoration: underline dashed var(--color-gray);
          text-decoration: underline dashed var(--color-gray);
  text-underline-offset: 0.4rem;
  color: var(--color-gray);
}
.plans__text {
  display: block;
  text-align: center;
}
.plans__icon::after {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  content: "";
  display: block;
  background-size: 2rem;
  background-position: center;
  background-repeat: no-repeat;
}
.plans__icon--yes::after {
  background-image: url("../img/icons/included.png");
}
.plans__icon--no::after {
  background-image: url("../img/icons/excluded.png");
}

/*************************************************************************************************************************************************************************/
@media only screen and (max-device-width: 991px) {
  .plans__tiers {
    border-bottom: 1px solid var(--color-gray-300);
    position: static;
    z-index: auto;
    top: auto;
  }
  .plans__level {
    margin-bottom: 0;
    font-size: 2rem;
  }
}
/* SECURITY */
.security {
  max-width: 96rem;
  margin: 0 auto;
  padding: 4rem 0 8rem 0;
}
.security__menu {
  padding-right: 4rem;
  position: sticky !important;
  top: 100px !important;
}
.security__option:not(:last-child) {
  margin-bottom: 0.2rem;
}
.security__link {
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: block;
  color: var(--color-white);
}
.security__link:hover {
  background-color: rgb(16, 17, 19);
}
.security__col {
  padding: 0;
}
.security__info {
  padding: 0 2rem;
}
.security__heading {
  text-align: left;
}
.security__heading--1 {
  margin-bottom: 4rem;
}
.security__text {
  margin-bottom: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  color: var(--color-white);
}
.security__highlight {
  color: var(--color-secondary-red);
}
.security__highlight:hover {
  color: var(--color-secondary-pink);
}
.security__list {
  padding-left: 2.6rem;
}
.security__item {
  line-height: 172%;
}
.security__item:not(:last-child) {
  margin-bottom: 1rem;
}
.security__btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: inline-block;
}